$black: #021526;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, Helvetica, sans-serif;
}

header {
  width: 100%;
  height: 80px;
  padding: 0 1rem;
  display: flex;
  justify-content: end;
  align-items: center;

  button[data-submitFor='logout'] {
    padding: 10px 1rem;
    border: 1px solid $black;
    background-color: transparent;
    color: $black;
  }
}

section {
  &.wrapper.login,
  &.wrapper.login form,
  &.wrapper.login form .form-control {
    display: flex;
  }

  &.wrapper.login {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f7;

    > div {
      flex-basis: 100%;
      padding: 1rem;
      border-radius: 12px;
      background-color: white;
      max-width: 300px;
      box-shadow: 3px 7px 38px -16px rgba(30, 32, 30, 0.2);
      -webkit-box-shadow: 3px 7px 38px -16px rgba(30, 32, 30, 0.2);
      -moz-box-shadow: 3px 7px 38px -16px rgba(30, 32, 30, 0.2);

      form {
        gap: 1rem;
        flex-direction: column;

        .form-control {
          gap: 8px;
          flex-direction: column;
        }
      }
    }
  }

  &.wrapper.dashboard {
    width: 100%;
    min-height: 100vh;
    padding-top: 2rem;
    background-color: #f5f5f7;

    .wrapper-content {
      margin: 0 auto;
      width: 80%;
      max-width: 1200px;

      form {
        text-align: right;

        div {
          margin-bottom: 2rem;
          padding: 1.25rem;
          display: flex;
          justify-content: space-between;

          .content {
            flex-basis: 60%;
          }
        }

        > div:nth-child(odd) {
          background-color: #f0f0f0;
        }
      }
    }
  }
}

form {
  input {
    padding: 2px 4px;
    font-size: 1rem;
  }
}

button[type='submit'] {
  background-color: $black;
  color: white;
  outline: none;
  border: none;
  padding: 10px 1rem;

  &:hover {
    cursor: pointer;
  }
}
